.card {
    width: 50%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px 0;
}



span {
    color: #0CF637;
}

form {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: aqua; */
    justify-content: center;
    width: 400px;
    gap: 10px; 
    font-size: 10px;
}
form input, select {
    height: 25px;
    width: 100px;
    border-radius: 6px;
    border: 1px solid grey;
    color: grey;
}